.stea-ordenamientoActividad-Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    margin: 10%;
    align-items: center;
}

.stea-ordenamientoOptions-flexbox {
    display: flex;
    
    width: 80%;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
}

.stea-orderItem-flexbox {
    background-color: #069;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1em;

    max-width: 55em;
    min-width: 5em;
    height: auto;
    border: solid 4px #000000;

    border-radius: .5em;
    padding: 1em .8em ;
    width: 100%;

    margin: .4em;
    
}

.stea-orderItem-flexbox:hover{
    background-color: rgb(9, 36, 49);
    color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1em;

    max-width: 40em;
    min-width: 5em;
    height: auto;
    border: solid 4px #000000;

    border-radius: .5em;
    padding: 1em .8em ;
    width: 90%;

    margin: .4em;
    transition-duration: 200ms;
}



.stea-orderItemTitle-fontTitle {
    max-width: none;
    font-size: 1em;
    text-align: center;
    margin: 0;
}

.stea-orderItemTitle-img {
    max-width: 8em;
    min-width: 1em;
    margin: 0;
}

.stea-orderItemTitleEditor-img {
    max-width: 80px;

    
    margin: 0;
}

