body{
    background: #069 ;
}
.mapadivCul{
    width: 70%;
    margin: auto;
}
.mapadivCul path{
    fill:  #FFF;
    stroke: rgb(102, 102, 102);
    stroke-width: 5px;
}
.mapadivCul :hover{
    fill:rgb(71, 60, 173);
}
.mapadivCul .Contorno :hover {
    fill:#FFF;
}