/*body{*/
    /*background: #069 ;*/
/*}*/
.mapadivReg{
    width: 70%;
    margin: auto;
}
.mapadivReg path{
    fill:  #FFF;
    stroke: rgb(102, 102, 102);
    stroke-width: 5px;
}
.mapadivReg :hover{
    fill:rgb(215, 94, 219);
}
