.stea-perfilLateral-contenedor{
    width: 18%;
    max-height: 50em;
    margin: 5em 0 0 2em;
    border-radius: 1em;
    box-sizing: border-box;
    /*Flexboxing*/
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 .3em 20px 1px rgba(2, 58, 63, 0.432);
    background-color:#fff;
}

.stea-perfilLateral-enlace{
    text-align: center;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.stea-perfilLateral-img {
    height: 12em;
    width: 12em;
    /*box-shadow: 0 .3em 20px 1px rgba(2, 58, 63, 0.432);*/
    border-radius: 50%;
    /*margin: 2em 0;*/
    margin: 1.5em;
    z-index: 10;
    position: absolute;
}

.stea-perfilLateral-informacion{
    width: 100%;
    padding: 1em;
    margin: 0;
    color: #069;

    /*Flexbox*/
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.stea-perfilLateral-name{
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
}

.stea-perfilLateral-semestre{
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
}

@media (max-width: 1200px) {
    .stea-perfilLateral-contenedor{
        width: 100%;
        max-height: 18em;
        box-sizing: border-box;
        margin: 5em 0 0 0;
        padding: 0;
        box-sizing: border-box;
        /*Flexboxing*/
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-shadow: 0 .3em 20px 1px rgba(2, 58, 63, 0.432);
        background-color: white;
    }

    .stea-perfilLateral-informacion{
        padding: 0;
        margin: 0 1em;
        color: #069;
        width: 50%;
        background-color: white;
    
        /*Flexbox*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .stea-perfilLateral-name{
        background-color: white;
        text-align: center;
        width: 100%;
        margin: .8em 0;
        font-size: 1em;
        font-weight: 500;
    }

    .stea-perfilLateral-semestre{
        background-color: white;
        width: 100%;
        font-size: 1.2em;
        font-weight: 300;
        text-align: center;
    }

    .stea-perfilLateral-img {
        /*width: 8em;*/
        /*height: 8em;*/

        /*max-width: 150px;*/
        box-shadow: 0 .3em 20px 1px rgba(2, 58, 63, 0.432);
        border-radius: 50%;
        /*margin: 2em 0;*/
    }
}

.stea-profile-dashboard-medals {
  margin: 1em;
  display: inline-block;
}

.stea-profile-dashboard-medals div {
  padding: 5px;
  margin: 8px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stea-profile-dashboard-medals h6 {
  margin: 2px;
  padding: 1px;
  border-radius: 5px;
  min-width: 1em;
  justify-content: center;
  text-align: center;
  background-color: #000c;
  color: white;
  font-weight: bold;
}
