.stea-resp-coin-editor-help {
    border-radius: 50px;    
}

.stea-rce-wrong-answers{
  border-radius: 1em;
  background-color: #ebe5eb;
  width: 100%;
  display: inline-block;
}

.stea-rce-wrong-answers > div {
  border: 2px #9b1b15;
  background-color: #fbaba5;
  border-style: dashed solid;
  border-radius: 1em;
  margin: 0.5em;
  display: inline-flex;
  align-items: center;
}

.stea-rce-wrong-answers > div > button {
  border-radius: 1em;
  align-items: center;
  padding: 0.35em;
}

.stea-rce-wrong-answers > div > span {
  margin: 0.5em;
}

.stea-rce-set-wa{
  display: flex;
  align-items: center;
}
