.stea-groupConfig{
    background-color: #e5e9ec;

    margin: 4em 0;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.stea-groupConfig-container{
    
    background-color: white;
    position: relative;

    min-width: 94%;
    max-width: 100%;
    margin: 3em;
    

    border-radius: 1em;
    /*flexbox*/
    display: flex;
    justify-content: space-between;
}

.stea-groupConfig-information{
    width: 55%;
    padding: 3em 2.5em;

    
}

.stea-groupConfig-userList{
    width: 40%;
    padding: 3em 1.5em;

    margin: 0;

    border-left: 1px solid #6c1d45;
    list-style-type: none;

    /*flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stea-groupConfig-userElement{
    color: #6c1d45;

    border: 1px solid #6c1d45;
    border-radius: 1em;
    min-width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.stea-groupConfig-image{
    height: auto;
    max-width: 4em;

    border-radius: 1em 0 0 1em;
}