.stea-dashboard-contenedor {
    position: absolute;
    display: flex;
    background-color: #e5e9ec;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

@media (max-width: 1200px) {
    .stea-dashboard-contenedor {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;

        overflow: scroll;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
}