.stea-actividadesPendientes-contenedor{
    width: 18%;
    min-width: 350px;
    max-height: 40%;
    margin: 5em 2em 0 0;
    border-radius: 1em;
    box-sizing: border-box;
    /*Flexboxing*/
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-shadow: 0 .3em 20px 1px rgba(2, 58, 63, 0.432);
    background-color: white;
    box-sizing: border-box;
}

.stea-actividadesPendientes-title{
    justify-self: center;
    align-self: center;
    text-align: center;
    background-color: white;
    color: #069;
    margin: 1em 0 ;

    font-size: 1.5em;

    font-weight: 600;
}

.stea-actividadPendiente-container{
    box-sizing: border-box;
    position: relative;
    background-color: white;
    width: 90%;
    
    margin: .5em;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    box-shadow: 0 .3em 10px 1px rgba(2, 58, 63, 0.432);
    
}

.stea-actividadPendiente-botones{
    align-self: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.stea-actividadPendiente-boton{
    width: 50%;
}

.stea-actividadPendiente-info{
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

.stea-actividadPendiente-nombre{
    background-color: #069;
    color: white;
    padding: .5em .5em;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
}

.stea-actividadPendiente-profesor{
    margin: .5em 0;
    padding: 0 .7em;
    font-size: .8em;
    background-color: white;
}

.stea-actividadPendiente-modo{
    background-color: white;
    align-self: center;
    min-width: 90%;
    margin: 0 1em ;
    font-size: .8em;
    display: flex;
    justify-content: space-between;
}

.stea-actividadPendiente-modo p{
    background-color: white;
    padding: 0;
}

.stea-actividadPendiente-fechaLimite{
    font-size: .9em;
    text-align: left;
    width: 160px;
    color: #797979;
}

.stea-actividadPendiente-modoActividad{
    color: #069;
    text-align: end;
    font-weight: 600;
}
/*Scroll*/


.stea-actividadesPendientes-contenedor::-webkit-scrollbar {
    width: 5px;
}
.stea-actividadesPendientes-contenedor::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
}
.stea-actividadesPendientes-contenedor::-webkit-scrollbar-track {
    border-radius: 10px;  
}

@media (max-width: 1200px) {

    .stea-actividadesPendientes-contenedor{
        height: max-content;
        width: 100%;
        box-sizing: border-box;
        margin: 1em 0 0 0;
        padding: 0;
    
        /*Flexboxing*/
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 .3em 20px 1px rgba(2, 58, 63, 0.432);
        background-color: white;
    }
}