#stea-stretch {
  align-items: stretch;
  display: relative;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;

  button.btn-light {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  button.btn-fire {
    position: absolute;
    bottom: 2em;
    right: 2em;
  }
}

@keyframes answer-rotate {
  0% {
    right: 0.3em;
    bottom: 0.3em;
  }
  25%{
    right: -0.3em;
    bottom: -0.3em;
  } 
  50% {
    right: 0.3em;
    bottom: -0.3em;
  }
  75%{
    right: -0.3em;
    bottom: 0.3em;
  }
  100%{
    right: 0.3em;
    bottom: 0.3em;
  }
}

#stea-rc-game {
  width: 100%;
  height: 100%;
  position: relative;
  
  #stea-rc-area {
    height: 100%;
    color: beige;
    position: relative;
    background-image: linear-gradient(to right, #6CF, #069);
  }
  
  #spacecraft {
    position: absolute;
    pointer-events: none;
    
    div {
      position: absolute;
      height: 2px;
      width: 100vw;
      background-color: blue;
      top: 59px;
      z-index: 1;
    }

    .stea-rc-fire {
      background-color: yellow;
    }

    img {
      position: relative;
      height: 120px;
      z-index: 8;
    }
  }

  .answer {
    pointer-events: none;
    position: absolute;
    z-index: 7;
  }

  .answer-rotation {
    position: relative;
    z-index: inherit;
    max-width: 28em;
    animation: answer-rotate 5s linear;
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    animation-iteration-count: infinite;

    img {
      max-width: 27em;
      max-height: 120px;
    }

  }

  .answer-time {
    pointer-events: none;
    position: absolute;
    z-index: 7;
  }

  .focus-answer {
    border: 1px solid #000000;
    box-shadow: 0px 0px 15px white;
  }

  .question {
    position: absolute;
    z-index: 10;
    left: 0px;
    right: 0px;
    top: 5px;
    display: flex;
    justify-content: center;
    pointer-events: none;

    div {
      background-color: #0008;
      border-radius: 1em;
      max-width: 35em;
      padding: 1em;
    }
  }
  
  #timer {
    display: flex;
    align-items: center;
    border-radius: 1em;
    padding: 1em;
    background-color: #0008;
    position: absolute;
    top: 5px;
    right: 5px;
  }

}


