/*body{*/
    /*background: #069 ;*/
/*}*/
.mapadivReg{
    width: 70%;
    margin: auto;
}
.mapadivReg path{
    fill:  #FFF;
    stroke: rgb(102, 102, 102);
    stroke-width: 5px;
}
.mapadivReg :hover{
    fill:rgb(215, 94, 219);
    
    transform: scale(1.0032);
    
    transition: 0.1s;

}
.div-reg{
height: 100vh;
background-image: linear-gradient(to bottom right, #069, rgb(93, 183, 228));
}
.mapadivReg #stea-pregunta-reg{
    color: aliceblue;
}
.div-pregunta-reg{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.div-pregunta-reg > h1{
    background-color: #0006;
    padding: 5px;
    
}
