html, body, #root {
  height: 100%;
  /*min-height: 100%;*/
}

.stea-editor-logo {
  width: 50px;
  height: 50px;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;

}
.stea-editor-nombre{
  margin-left: 20px;
  margin-right:20px;
  float: left;
  margin-bottom: 10px;
  color: #FFF;
  margin-top: 10px;
}
.stea-editor-hrPrimero{
  margin-top: 70px;
  border-top: 2px dashed aliceblue;
}
.stea-editor-hrSegundo{
  border-top: 2px dashed aliceblue;
}
.stea-editor-lista{
 
  list-style-type: none;
  color: aliceblue;
}
.stea-editor-actividad{
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  color: #069;
  
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 13px;
  margin-right: 13px;

  box-shadow: -5px 5px 3px #000000BB;
}
.stea-editor-boton{
  margin-left: 15px;
  box-shadow: -5px 5px 5px #000000BB;
}
#stea-editor-add{
  font-size: 3.5em;
  text-align: center;
  padding:  0px !important;
}
#stea-editor-add:hover{
  color: #FF9966;
  
  position: relative;
  top: -1px;
  right: 1px;
  border: 3px solid #FF9966;
}
#stea-editor-general-title{
  color: black;
  background-color: #FFF;
  }
#stea-editor-title-pregunta{
  color: #FFF;
  margin: auto;
}
#stea-editor-general-description{
  background-color: aliceblue;
  font-size: 18px;
}
.stea-editor-general-contenedor{
  background-color: aliceblue;
  
}
#stea-editor-general-seccion{
  background-color: #069;
  color: #FFF;
  margin: 3px;
  justify-content: first baseline;
  padding: 6px;
  font-size: 18px;
}

#stea-editor-container {
  display: flex;
  height: 100%;
  position: relative;

}


#stea-editor-sidebar {
  position: fixed;
  width: 18em;
  left: -18em;
  background-color: #069;
  top: 0;
  height: 100vh;
  box-shadow: 3px 3px 7px #0008;
  z-index: 9;
  transition: 1s;
}

#stea-editor-called {
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  transition: 1s;
}

#stea-editor-header {
  background-color: #069;
  padding: 1em;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

#stea-editor-description {
  background-color: grey;
}

@media (min-width: 993px) {
  #stea-editor-header .stea-editor-sidebar-button {
    display: none;
  }
  
  #stea-editor-sidebar {
    transition: 1s;
    left: 0;
  }

  #stea-editor-called {
    transition: 1s;
    margin-left: 18em;
  }
  
}

.show {
  transition: 1s;
  left: 0 !important;
}

.stea-black-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000AA;
  z-index: 8;
  transition: 1s;
}
