.stea-ordenamientoOptions-flexbox {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 0;
    justify-content: center;
}

.stea-orderItem-flexbox {
    background-color: #069;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1em;

    max-width: 20em;
    min-width: 5em;
    height: 1em;
    border: solid 2px #d0d0d0;

    border-radius: .2em;
    padding: 1em .8em ;
    margin-bottom: .8em;
}

.stea-orderItemTitle-fontTitle {
    max-width: none;
    font-size: 1em;
    margin: 0 3em;
}


