body{
    background: #069 ;
}
.mapadiv{
    width: 70%;
    margin: auto;
}
.mapadiv path{
    fill:  #FFF;
    stroke: rgb(102, 102, 102);
    stroke-width: 1.5px;
}
.mapadiv :hover{
    fill:rgb(38, 6, 56);
}