.login-stea{
  height: 100vh;
  display: flex;
  align-items: center;
  color:#fff;
  background-image: linear-gradient(to bottom right, #3B595F, white);
}

.login-stea #propiedades-stea{
  background-color: #3B6978;
  border-radius: 3px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 15px;
}

#regresar{
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


#stea-login-register {
  color: black;
}

#stea-login-register:hover {
  color: white;
}

.stea-login-input-text {
  border-radius: 10px;
  border: 1px solid #AEB4BA;
  padding: 0.375rem 0.75rem;
  margin: 2px;
}

.login-stea small {
  color: #EE9966;
  font-weight: bold;
}
